/* .login{
    background-color: rgb(42, 56, 165);
    width: 22%;
} */

body{
    background-color: #212121;
    overflow: hidden;
    
  }

.login_body{               
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: #212121;
    margin: 0px;
    font-size: 22px;
    zoom: 80%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* bottom: 60px; */
    height: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: -12px;
    
  }

  .Form_body{
    position: relative;
    
  }


  .login_form{
  background-color:#212121;
  max-width: 499px;
  max-height: 629px;
  padding-top: 85px;
  border-radius: 23px;
  box-shadow:5px 3px 10px 0.3px	#1065669b;
  border-style: solid;
  border-width: 0.3px;
  border-color: 	#106466;
  margin: 0 auto;
  z-index: -1;
  }
  .login_head{
    color: white;
    background-color: #212121;
    height: 80px;
    width: 160px;
    position: relative;
    top: -290px;
    right: -110px;
    font-weight: 900; 
    z-index: 1;
    font-family: "Inter", sans-serif;
    font-size: 50px;
}
  .login_but{
  background-color: #02B794;
  color: black;
  padding-top: 7px;
  padding-bottom:55px;
  width: 266px;
  height: 65.22px;
  position: relative;
  top: 0px;
  border-radius: 15px;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
  }
  .login_but:hover{
  transition: 0.3s;
  background-color: #73d0bf
  }
  
  .fooker{
  position: relative;
  top: 160px;
  right: 145px;
  z-index:0;
  width: 152px;
  height: 60px;
  }
  
  .user_label{ 
  color: rgba(255, 255, 255, 0.436);
  position: relative;
  right: 104px;
  bottom: 25px;
  font-size: 22px;
  }
  
  .pass_label{ 
  color: rgba(255, 255, 255, 0.436);
  position: relative;
  right: 152px;
  bottom: 1px;
  font-size: 22px;
  }
  
  .user_input{
  border: none;
  background-color: rgba(79, 78, 78, 0.436) ;
  width: 386px;
  height: 61px;
  border-radius: 15px;
  position: relative;
  bottom: 20px;  
  color: white;
  font-size: 20px;
  padding-left: 15px;  
  }
  
  .pass_input{
  border: none;
  background-color: rgba(79, 78, 78, 0.436) ;
  width: 386px;
  height: 61px;
  border-radius: 15px;
  position: relative;
  top: 5px;  
  color: white;
  font-size: 20px;
  padding-left: 15px;  
  }
  
  .FP{
  position: relative;
  left: 113px;
  top: -20px;
  color: #ffffff79;
  font-size: 22px;
  text-decoration: none;
  }
  
  .FP:hover{
  text-decoration:none;
  color: #ffffff9d;
  }
  
  .line1_login{
  filter: invert();
  height: 8px;
  width: 120px;
  position: relative;
  top: 18px;
  right: 90px;
  }
  
  .line2_login{
  filter: invert();
  height: 8px;
  width: 120px;
  position: relative;
  top: 18px;
  left: 90px;
  }
  
  .line_text{
  color:rgba(255, 255, 255, 0.436);
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  position: relative;
  bottom: 18px;;
  }
  
  .google_logo_login{
  filter: invert();
  width: 65px;
  height: 65px;
  top:-20px;
  position:relative;
  right: 30px;
  }
  
  .github_logo_login{
  filter: invert();
  width: 65px;
  height: 65px;
  position:relative;
  top:-20px;
  left: 30px;
  }
  
  .last_line_login{
  color: rgba(255, 255, 255, 0.553);
  position: relative;
  bottom: 0px;
  }
  
  .login{
  color: rgba(255, 255, 255, 0.553);
  text-decoration: underline;
  }
  
  .login:hover{
  text-decoration: underline;
  color:  rgba(255, 255, 255, 0.641);
  }