<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
  </head>
  <body class="login_body">
      <img  src="https://i.ibb.co/r6gTLmN/212121.png" class="fooker" alt="">
      <h1 class="login_head">Login</h1>
      <form class="login_form" action="">
          
          <label class="user_label"  for="name">Username or E-mail</label><br>
          
          <input class="user_input" type="text" id="name">
  
         
          <label class="pass_label" for="password">Password</label><br>  
          <input class="pass_input" type="password" id="password">
          <br><br>
          <a class="FP" href="">Forgot Password?</a>
          <br>
          <a href=""><button onclick="" class="login_but">Sign in</button></a>
          <br>
          <img class="line1" src="https://i.ibb.co/BqcnZt5/minus.png" alt="">
          <img class="line2" src="https://i.ibb.co/BqcnZt5/minus.png" alt="">
          <p class="line_text">Login With</p>
          <a href=""><img class="google_logo" src="https://i.ibb.co/NLpbPGm/social.png" alt=""></a>
          <a href=""><img class="github_logo" src="https://i.ibb.co/K5Xx5sZ/github.png" alt=""></a>
          <p class="last_line">Don't have an account?<b> <a class="login" href="signup.html"> Sign up</a></b></p>
      </form>
      
  </body>
  </html