<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Sign up</title>
    <link rel="stylesheet" href="signup.css">
  </head>
  <body >

    <div class="signup_body">
        <img src="https://i.ibb.co/r6gTLmN/212121.png" class="fooker" alt="">
        <h1 class="signup_head">Sign up</h1>
        <form class="signup_form" action="">
            
            <label class="user_label"  for="name">Username</label><br>
            
            <input class="user_input" type="text" id="name"  required>
            
            <br>
            <label class="email_label" for="email">E-mail</label><br>  
            <input class="email_input" type="text" id="email">
            <br><br>
            <label class="pass_label" for="password">Password</label><br><br>
            <input class="pass_input" type="password" id="password">
            <br>
            <a href=""><button class="signup_but">Sign up</button></a>
            <br>
            <img class="line1" src="https://i.ibb.co/BqcnZt5/minus.png" alt="">
            <img class="line2" src="https://i.ibb.co/BqcnZt5/minus.png" alt="">
            <p class="line_text">Signup With</p><br>
            <a href=""><img class="google_logo" src="https://i.ibb.co/NLpbPGm/social.png" alt=""></a>
            <a href=""><img class="github_logo" src="https://i.ibb.co/K5Xx5sZ/github.png" alt=""></a>
            <p class="last_line">Already have an account?<b> <a class="signup" href="login.html">Log in</a></b></p><br><br>
            
        </form>
    </div>
        
  </body>
  </html